 <ul class="nav nav-pills enlaces" style="background: #E6EE9C;">
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" role="presentation" routerLink="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" role="presentation" routerLinkActive="active"  routerLink="/productos" >Ver Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" role="presentation" routerLinkActive="active"  routerLink="/nuevo" >Nuevo Producto</a>
    </li>
</ul>
<style>
  .enlaces{display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; height: 50px;}
  li :hover{
    background: white; color: blue; text-decoration: underline;
  }
</style>
 <router-outlet></router-outlet>


